# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# macOS
.DS_Store

# Downloaded sample packs
sounds/downloaded_sounds/

# Optional: if sample library gets huge later
# sounds/my_sounds/
